<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About our website</title>
</head>
<body>
    <div class="container" style="text-align: center;">

        {% include 'navbar.html' %}
        <h1>About our website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed unde, id odio consequuntur fugit ut, magnam expedita consectetur ad eum ratione laudantium vel deleniti dolore nulla. Eum cum deleniti veritatis voluptate ipsum fuga, magnam amet repudiandae ipsa temporibus velit nesciunt iste ullam quam laborum delectus obcaecati illum ex maxime aperiam?</p>
        <button>Contact us</button>
    </div>
    
</body>
</html>